.about-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8%;
    border: solid, black;
}

.about-container img {
    color: lightgrey;
    background-color: black;
    width: 80vw;
}