.navbar-container {
    font-size: 12pt;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    background: linear-gradient(to right, #378CDD , #84CFFF, #378CDD);
    grid-template-rows: 10vh;
    grid-template-columns: repeat(8,1fr);
    align-items: center;
    font-family: Times, Georgia, Arial;
}

.navbar-container a {
    display: flex;
    align-items: center;
    font-size: 1.6em;
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5pt;
    margin: 3vw;
    font-family: Times, Georgia, Arial;
    font-weight: 500;

}

.navbar-container a:active {
    transition: 0.3s;
    color: antiquewhite;
}

.logout-button {
    width: 17vw;
    height: 3.5vh;
    border-radius: 5pt;
    font-size: 2vh;
   
}